-- Tạo database ở đường dẫn sql mặc định
USE master
GO
-- Xóa cái trước đó nếu mà đã có
if exists (select * from sysdatabases where name='OmegaBook')
		drop database OmegaBook
GO

-- Tìm vị trí lưu trữ của máy tính
DECLARE @device_directory nvarchar(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1

-- Tạo database
EXECUTE (N'CREATE DATABASE OmegaBook
  ON PRIMARY (NAME = N''OmegaBook'', FILENAME = N''' + @device_directory + N'OmegaBook.mdf'')
  LOG ON (NAME = N''OmegaBook_log'',  FILENAME = N''' + @device_directory + N'OmegaBook.ldf'')')

GO

CREATE TABLE Account (
  employeeID varchar(255) NOT NULL, 
  password   nvarchar(255) NOT NULL, 
  PRIMARY KEY (employeeID));
CREATE TABLE AcountingVoucher (
  acountingVoucherID varchar(255) NOT NULL, 
  startedDate        datetime NOT NULL, 
  endedDate          datetime NOT NULL, 
  cashCountSheetID   varchar(255) NOT NULL, 
  PRIMARY KEY (acountingVoucherID));
CREATE TABLE Brand (
  brandID varchar(255) NOT NULL, 
  name    nvarchar(255) NOT NULL, 
  country nvarchar(255) NOT NULL, 
  PRIMARY KEY (brandID));
CREATE TABLE CashCount (
  cashCountSheetID varchar(255) NOT NULL, 
  value            float(10) NOT NULL, 
  quantity         int NOT NULL, 
  PRIMARY KEY (cashCountSheetID, 
  value));
CREATE TABLE CashCountSheet (
  cashCountSheetID varchar(255) NOT NULL, 
  endedDate        datetime NOT NULL, 
  startedDate      datetime NOT NULL, 
  PRIMARY KEY (cashCountSheetID));
CREATE TABLE CashCountSheetDetail (
  auditorIndex     bit NOT NULL, 
  cashCountSheetID varchar(255) NOT NULL, 
  employeeID       varchar(255) NOT NULL, 
  PRIMARY KEY (auditorIndex, 
  cashCountSheetID));
CREATE TABLE Customer (
  customerID  varchar(255) NOT NULL, 
  name        nvarchar(255) NOT NULL, 
  dateOfBirth date NOT NULL, 
  gender      bit NOT NULL, 
  phoneNumber varchar(255) NOT NULL, 
  score       int NOT NULL, 
  address     nvarchar(255) NOT NULL, 
  PRIMARY KEY (customerID));
CREATE TABLE Employee (
  employeeID            varchar(255) NOT NULL, 
  name                  nvarchar(255) NOT NULL, 
  role                  nvarchar(255) NOT NULL, 
  status                bit NOT NULL, 
  dateOfBirth           date NOT NULL, 
  gender                bit NOT NULL, 
  phoneNumber           varchar(255) NOT NULL, 
  citizenIdentification varchar(255) NOT NULL, 
  address               nvarchar(255) NOT NULL, 
  storeID               varchar(255) NOT NULL, 
  PRIMARY KEY (employeeID));
CREATE TABLE [Order] (
  orderID            varchar(255) NOT NULL, 
  employeeID         varchar(255) NOT NULL, 
  customerID         varchar(255) NOT NULL, 
  status             int NOT NULL, 
  orderAt            datetime NOT NULL, 
  payment            bit NOT NULL, 
  totalDue           float(10) NOT NULL, 
  subTotal           float(10) NOT NULL, 
  moneyGiven         float(10) NOT NULL, 
  promotionID        varchar(255) NULL, 
  acountingVoucherID varchar(255) NULL, 
  PRIMARY KEY (orderID));
CREATE TABLE OrderDetail (
  orderID          varchar(255) NOT NULL, 
  productID        varchar(255) NOT NULL, 
  quantity         int NOT NULL, 
  price            float(10) NOT NULL, 
  lineTotal        float(10) NOT NULL, 
  VAT              float(10) NOT NULL, 
  seasonalDiscount float(10) NULL, 
  PRIMARY KEY (orderID, 
  productID));
CREATE TABLE Product (
  productID      varchar(255) NOT NULL, 
  productType    int NOT NULL, 
  bookType       int NULL, 
  bookCategory   int NULL, 
  stationeryType int NULL, 
  name           nvarchar(255) NOT NULL, 
  author         nvarchar(255) NULL, 
  price          float(10) NOT NULL, 
  costPrice      float(10) NOT NULL, 
  img            varbinary(max) NULL, 
  publishYear    int NULL, 
  publisher      nvarchar(255) NULL, 
  pageQuantity   int NULL, 
  isHardCover    bit NULL, 
  description    nvarchar(255) NULL, 
  language       nvarchar(255) NULL, 
  translater     nvarchar(255) NULL, 
  weight         float(10) NULL, 
  color          nvarchar(255) NULL, 
  material       nvarchar(255) NULL, 
  origin         nvarchar(255) NULL, 
  brandID        varchar(255) NULL, 
  VAT            float(10) NULL, 
  inventory      int NULL, 
  PRIMARY KEY (productID));
CREATE TABLE ProductPromotion (
  promotionID varchar(255) NOT NULL, 
  type        int NOT NULL, 
  discount    float(10) NOT NULL, 
  startedDate date NOT NULL, 
  endedDate   date NOT NULL, 
  productID   varchar(255) NOT NULL, 
  PRIMARY KEY (promotionID));
CREATE TABLE Promotion (
  promotionID varchar(255) NOT NULL, 
  type        int NOT NULL, 
  discount    float(10) NOT NULL, 
  startedDate date NOT NULL, 
  endedDate   date NOT NULL, 
  [condition] int NOT NULL, 
  PRIMARY KEY (promotionID));
CREATE TABLE PurchaseOrder (
  purchaseOrderID varchar(255) NOT NULL, 
  orderDate       date NOT NULL, 
  receiveDate     date NULL, 
  status          int NOT NULL, 
  note            nvarchar(500) NOT NULL, 
  supplierID      varchar(255) NOT NULL, 
  employeeID      varchar(255) NOT NULL, 
  PRIMARY KEY (purchaseOrderID));
CREATE TABLE PurchaseOrderDetail (
  purchaseOrderID varchar(255) NOT NULL, 
  productID       varchar(255) NOT NULL, 
  quantity        int NOT NULL, 
  costPrice       float(10) NOT NULL, 
  PRIMARY KEY (purchaseOrderID, 
  productID));
CREATE TABLE ReturnOrder (
  returnOrderID varchar(255) NOT NULL, 
  orderID       varchar(255) NOT NULL, 
  type          int NULL, 
  status        int NOT NULL, 
  orderDate     date NULL, 
  employeeID    varchar(255) NOT NULL, 
  PRIMARY KEY (returnOrderID));
CREATE TABLE ReturnOrderDetail (
  productID     varchar(255) NOT NULL, 
  returnOrderID varchar(255) NOT NULL, 
  quantity      int NULL, 
  PRIMARY KEY (productID, 
  returnOrderID));
CREATE TABLE Shift (
  shiftID    varchar(255) NOT NULL, 
  employeeID varchar(255) NOT NULL, 
  startedAt  datetime NOT NULL, 
  endedAt    datetime NOT NULL, 
  PRIMARY KEY (shiftID));
CREATE TABLE Store (
  storeID varchar(255) NOT NULL, 
  name    nvarchar(255) NULL, 
  address nvarchar(255) NOT NULL, 
  PRIMARY KEY (storeID));
CREATE TABLE Supplier (
  supplierID varchar(255) NOT NULL, 
  name       nvarchar(255) NOT NULL, 
  address    nvarchar(255) NOT NULL, 
  PRIMARY KEY (supplierID));
ALTER TABLE ProductPromotion ADD CONSTRAINT FKProductPro984287 FOREIGN KEY (productID) REFERENCES Product (productID);
ALTER TABLE [Order] ADD CONSTRAINT FKOrder887851 FOREIGN KEY (acountingVoucherID) REFERENCES AcountingVoucher (acountingVoucherID);
ALTER TABLE [Order] ADD CONSTRAINT FKOrder872885 FOREIGN KEY (customerID) REFERENCES Customer (customerID);
ALTER TABLE ReturnOrder ADD CONSTRAINT FKReturnOrde954910 FOREIGN KEY (employeeID) REFERENCES Employee (employeeID);
ALTER TABLE PurchaseOrder ADD CONSTRAINT FKPurchaseOr474795 FOREIGN KEY (employeeID) REFERENCES Employee (employeeID);
ALTER TABLE ReturnOrderDetail ADD CONSTRAINT FKReturnOrde76079 FOREIGN KEY (returnOrderID) REFERENCES ReturnOrder (returnOrderID);
ALTER TABLE ReturnOrderDetail ADD CONSTRAINT FKReturnOrde815592 FOREIGN KEY (productID) REFERENCES Product (productID);
ALTER TABLE Product ADD CONSTRAINT FKProduct81625 FOREIGN KEY (brandID) REFERENCES Brand (brandID);
ALTER TABLE [Order] ADD CONSTRAINT FKOrder659184 FOREIGN KEY (promotionID) REFERENCES Promotion (promotionID);
ALTER TABLE PurchaseOrderDetail ADD CONSTRAINT FKPurchaseOr207759 FOREIGN KEY (productID) REFERENCES Product (productID);
ALTER TABLE OrderDetail ADD CONSTRAINT FKOrderDetai727100 FOREIGN KEY (productID) REFERENCES Product (productID);
ALTER TABLE PurchaseOrder ADD CONSTRAINT FKPurchaseOr547978 FOREIGN KEY (supplierID) REFERENCES Supplier (supplierID);
ALTER TABLE PurchaseOrderDetail ADD CONSTRAINT FKPurchaseOr850638 FOREIGN KEY (purchaseOrderID) REFERENCES PurchaseOrder (purchaseOrderID);
ALTER TABLE AcountingVoucher ADD CONSTRAINT FKAcountingV457166 FOREIGN KEY (cashCountSheetID) REFERENCES CashCountSheet (cashCountSheetID);
ALTER TABLE CashCountSheetDetail ADD CONSTRAINT FKCashCountS656419 FOREIGN KEY (cashCountSheetID) REFERENCES CashCountSheet (cashCountSheetID);
ALTER TABLE CashCountSheetDetail ADD CONSTRAINT FKCashCountS667862 FOREIGN KEY (employeeID) REFERENCES Employee (employeeID);
ALTER TABLE CashCount ADD CONSTRAINT FKCashCount176433 FOREIGN KEY (cashCountSheetID) REFERENCES CashCountSheet (cashCountSheetID);
ALTER TABLE Shift ADD CONSTRAINT FKShift256712 FOREIGN KEY (employeeID) REFERENCES Account (employeeID);
ALTER TABLE Account ADD CONSTRAINT FKAccount516942 FOREIGN KEY (employeeID) REFERENCES Employee (employeeID);
ALTER TABLE Employee ADD CONSTRAINT FKEmployee758863 FOREIGN KEY (storeID) REFERENCES Store (storeID);
ALTER TABLE [Order] ADD CONSTRAINT FKOrder635796 FOREIGN KEY (employeeID) REFERENCES Employee (employeeID);
ALTER TABLE ReturnOrder ADD CONSTRAINT FKReturnOrde974953 FOREIGN KEY (orderID) REFERENCES [Order] (orderID);
ALTER TABLE OrderDetail ADD CONSTRAINT FKOrderDetai440548 FOREIGN KEY (orderID) REFERENCES [Order] (orderID);


INSERT [dbo].[Customer] ([customerID], [name], [dateOfBirth], [gender], [phoneNumber], [score], [address]) VALUES (N'KH000000000', N'Chưa có tài khoản', CAST(N'2023-09-20' AS Date), 1, N'0987654321', 0,  N'Chưa có')
INSERT [dbo].[Customer] ([customerID], [name], [dateOfBirth], [gender], [phoneNumber], [score], [address]) VALUES (N'KH198210013', N'Trương Văn Tâm', CAST(N'1982-09-15' AS Date), 1, N'0565970622', 27000,  N'Số 161, Đường Trần Quốc Toản, Phường 5, Quận 3, TP.Hồ Chí Minh')
INSERT [dbo].[Customer] ([customerID], [name], [dateOfBirth], [gender], [phoneNumber], [score], [address]) VALUES (N'KH198210029', N'Trương Văn Nam', CAST(N'1982-09-15' AS Date), 1, N'0827792035', 27000,  N'Số 9, Đường Trần Quốc Toản, Phường 5, Quận 3, TP.Hồ Chí Minh')
GO
INSERT [dbo].[Store] ([storeID], [name], [address]) VALUES (N'ST001', N'OmegaBook Nguyễn Văn Bảo', N'12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, TP HCM')
INSERT [dbo].[Store] ([storeID], [name], [address]) VALUES (N'ST002', N'OmegaBook Lê Đức Thọ', N'237 Lê Đức Thọ, Phường 17, Quận Gò Vấp, TP HCM')
GO

INSERT [dbo].[Employee] ([employeeID], [name], [role], [status], [dateOfBirth], [gender], [phoneNumber], [citizenIdentification], [address], [storeID]) VALUES (N'NV019982020001', N'Phan Như Ngọc', N'Nhân Viên Bán Hàng', 1, CAST(N'1998-12-31' AS Date), 0, N'0885591038', N'077300123523', N'Quận Tân Bình, TP HCM', N'ST001')
INSERT [dbo].[Employee] ([employeeID], [name], [role], [status], [dateOfBirth], [gender], [phoneNumber], [citizenIdentification], [address], [storeID]) VALUES (N'NV020032023001', N'Hồ Thị Như Tâm', N'Nhân Viên Bán Hàng', 1, CAST(N'2003-11-03' AS Date), 0, N'0336551833', N'077300123451', N'Phan Huy Ích, Phường 15, Quận Tân Bình, TP HCM', N'ST001')
INSERT [dbo].[Employee] ([employeeID], [name], [role], [status], [dateOfBirth], [gender], [phoneNumber], [citizenIdentification], [address], [storeID]) VALUES (N'NV020032023002', N'Lê Thị Riêng', N'Nhân Viên Bán Hàng', 1, CAST(N'2003-02-10' AS Date), 0, N'0336509738', N'024310121423', N'Quận Gò Vấp, TP HCM', N'ST002')
GO

INSERT [dbo].[Account] ([employeeID], [password]) VALUES (N'NV020032023001', N'Lehoangkhang')
INSERT [dbo].[Account] ([employeeID], [password]) VALUES (N'NV120032023001', N'Lehoangkhang')
INSERT [dbo].[Account] ([employeeID], [password]) VALUES (N'NV120032023002', N'Lehoangkhang')

GO
USE [OmegaBook]
GO
INSERT [dbo].[Product] ([productID], [productType], [bookType], [bookCategory], [stationeryType], [name], [author], [price], [costPrice], [img], [publishYear], [publisher], [pageQuantity], [isHardCover], [description], [language], [translater], [weight], [color], [material], [origin], [brandID], [VAT], [inventory]) VALUES (N'SP11020000', 1, 1, 2, NULL, N'Nghệ Thuật Tư Duy Chiến Lược', N'Kim Phúc', 280000, 200000, NULL, 2019, N'NXB Lao Động', 560, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 10, 20)
GO
INSERT [dbo].[Product] ([productID], [productType], [bookType], [bookCategory], [stationeryType], [name], [author], [price], [costPrice], [img], [publishYear], [publisher], [pageQuantity], [isHardCover], [description], [language], [translater], [weight], [color], [material], [origin], [brandID], [VAT], [inventory]) VALUES (N'SP11020001', 1, 1, 2, NULL, N'Bí Mật Của Phan Thiên Ân (Tái Bản 2023)', N'Alan Phan', 69000, 49200, NULL, 2023, N'NXB Thế Giới', 212, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 10, 20)
GO
INSERT [dbo].[Product] ([productID], [productType], [bookType], [bookCategory], [stationeryType], [name], [author], [price], [costPrice], [img], [publishYear], [publisher], [pageQuantity], [isHardCover], [description], [language], [translater], [weight], [color], [material], [origin], [brandID], [VAT], [inventory]) VALUES (N'SP11020002', 1, 1, 2, NULL, N'Bán Hàng 5.0', N'Nguyễn Hữu Tài, Trương Bến Hà', 179000, 127800, NULL, 2023, N'NXB Công Thương', 304, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 10, 30)
GO



